* {
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color:rgb(0,64,66)
}

body {
    background-image: url('../images/bg/flower.jpg');
}

/* div {
    border: 1px solid black;
} */

input {
    color:rgb(0,64,66);
    border:solid;
    border-radius: 50px;
    margin: 5px 0px 5px 0px;
    border-color: rgba(151,174,218,0.3);
}

iframe {
    margin: 10px 0px 10px 0px;
    border:solid;
    border-radius: 50px;
    border-color: rgba(151,174,218,0.3);
}

button {
    background-color: rgba(243,195,9,1);
    color:rgb(242,88,34);
    font-weight: bold;
    margin: 5px 0px 5px 0px;
    border:solid;
    border-radius: 50px;
    border-color: rgba(151,174,218,0.3);
}

h4 {
    color:  rgba(46,179,106,1);
}

.shootBtn,
.checkInBtn {
    border-width: 0px;
    width:100%;
}

.chatBtn {
    padding-left: 10px;
    max-width:23%;
}

.nextRoundBtn {
    border-width: 0px;
}

.panel,
.panel-heading,
.panel-body,
.panel-footer {
    /* border:solid 1px white; */
}

.panel {
    width:60%;
    margin-bottom:10px;

}

.panel-heading {
    font-weight:bold;
    background-color: rgba(49,152,185,1);
    color:white;
    padding: 0px 10px 0px 10px;
}

.panel-body {
    overflow-y: scroll;
    height: 200px;
    background-color: white;

}

.panel-footer {
    background-color: rgba(49,152,185,1);
}

.chat-input-group {
    width: 100%;
    padding: 0px 10px 0px 10px;
}

.chat-input {
    width:75% !important;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.player-input-form,
.name-input-form {
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    margin: 0px 5px 0px 5px;
}

.row-center, .col-center {
    justify-content: center !important;
    align-content: center !important;
    justify-items: center !important;
    align-items: center !important;
}
.col-left-hand {
    justify-content: left;
    justify-items: left;
}

.col-right {
    display: flex;
    justify-content: flex-end;
    justify-items: right;
    align-content: right;
    align-items: right;
}

.row-hands{
    margin-top:-50px;
    padding: 30px !important;
    justify-content:space-between;

}

.row-results {
    margin-bottom:30px;
}

*:focus {
    outline: none;
    border-color:rgba(243,195,9,1);

}

.row-scoreboard {
    margin-top:30px;
}


.col-main {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-color: rgba(151,174,218,0.9);
    /* color:white; */
    border:solid;
    border-radius: 50px;
    border-color: rgba(151,174,218,0.3);
    z-index:2;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
    .col,
    [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }

.col-results, 
.col-scoreboard {
    text-align: center;
    z-index:2;
}