* {
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

body {
    background-image: url('../images/bg/gravel.png');
}

/* div {
    border: 1px solid black;
} */

button {
    background-color: rgba(46,179,106,1);
    color:white;
}

h4 {
    color:  rgba(46,179,106,1);
}

.shootBtn {
    border-width: 0px;
    width:100%;
}

.player-input-form {
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
    justify-items: center !important;
    align-items: center !important;
    margin: 0px 5px 0px 5px;
}

.row-center, .col-center {
    justify-content: center !important;
    align-content: center !important;
    justify-items: center !important;
    align-items: center !important;
}
.col-left-hand {
    justify-content: left;
    justify-items: left;
}

.col-right {
    display: flex;
    justify-content: flex-end;
    justify-items: right;
    align-content: right;
    align-items: right;
}

.row-hands {
    margin-top:15px;
    justify-content:space-between;
}

.col-message {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    background-color: rgba(46,179,106,0.5);
    /* color:white; */
    border:solid;
    border-radius: 50px;
    border-color: rgba(46,179,106,0.3);
    z-index:2;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
    .col,
    [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }

.col-results, 
.col-scoreboard {
    text-align: center;
    z-index:2;
}